* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {

    width: 100%;
}
.hero_new__video {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;


}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 2;

}
.nav_logo img {
    width: 120px;
}
.nav_container ul {
    display: flex;
    list-style: none;

}
.nav_container ul li {
padding: 30px 20px;
}
.nav_container ul li a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
.nav_button {
    margin: 30px 0;
}
.nav_button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: red;
    padding: 0 15px;
border-radius: 50px;
}